# core runtime dependencies
aiohttp==3.9.4
backoff==2.2.1
tqdm==4.66.1
duckdb==1.2.2
pandas==2.2.3
streamlit==1.44.1
openpyxl==3.1.5
pyarrow==19.0.1
fastparquet==2024.11.0

# testing / CI
pytest==8.3.5
pytest-cov==6.1.1

# CLI
typer[all]>=0.12.0,<0.13.0
